@model Clinic.ViewModels.TermPriorityViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Terms" asp-action="Index" method="get">
    <p>
        <select asp-for="TermPriority" asp-items="Model.Priorities">
            <option value="">All</option>
        </select>
        Category: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Terms[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Terms[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Terms[0].Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Terms[0].Doctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Terms)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @if (item.DoctorId != null)
                    {
                        <a asp-controller="Doctors" asp-action="Details" asp-route-id="@item.DoctorId"> @Html.DisplayFor(modelItem => item.Doctor.FullName)</a>
                    }
                </td>
                
                ...
                <td>
                    @foreach (var patient in item.Patients)
                    {
                        <a asp-controller="Patients" asp-action="Details" asp-route-id="@patient.PatientID"> @patient.Patient.FullName </a> <br />
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TermID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TermID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TermID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
